# Домашнее задание 1

In [30]:
import numpy as np
import pandas as pd
import sklearn.linear_model as slmodel
import matplotlib.pyplot as plt
import statsmodels.api as sm
from scipy.stats import f

In [3]:
table = pd.read_excel('RPL.xlsx', 'Лист1')
table.head()

,Место,Клуб,Матчи,Победы,Ничьи,Поражения,Забито,Пропущено,Разница,Очки
0,1,Спартак,30,16,10,4,51,30,21,58
1,2,Локомотив,30,16,9,5,53,22,31,57
2,3,Зенит,30,15,9,6,50,34,16,54
3,4,Торпедо,30,15,7,8,51,40,11,52
4,5,Крылья Советов,30,14,8,8,38,22,16,50

In [25]:
table

,Место,Клуб,Матчи,Победы,Ничьи,Поражения,Забито,Пропущено,Разница,Очки
0,1,Спартак,30,16,10,4,51,30,21,58
1,2,Локомотив,30,16,9,5,53,22,31,57
2,3,Зенит,30,15,9,6,50,34,16,54
3,4,Торпедо,30,15,7,8,51,40,11,52
4,5,Крылья Советов,30,14,8,8,38,22,16,50
...,...,...,...,...,...,...,...,...,...,...
299,12,Сочи,30,8,9,13,40,39,1,33
300,13,Крылья Советов,30,8,7,15,33,40,-7,31
301,14,Тамбов,30,9,4,17,37,41,-4,31
302,15,Ахмат,30,7,10,13,27,46,-19,31
303,16,Оренбург,30,7,6,17,28,52,-24,27

# Зависимость от забитых и пропущенных

In [18]:
x = table[['Забито', 'Пропущено']].values
y = table.loc[:,'Очки'].values

In [22]:
model = slmodel.LinearRegression()
model.fit(x, y)
model.intercept_, model.coef_

(24.24550869862535, array([ 0.88421478, -0.40794739]))

# Проверка гипотезы о незначимости регрессии в целом

Нам нужно проверить гипотезу о том, что коэффициенты перед переменными одновременно равны нулю на уровне значимости 5%. Для этого найден коэффициент детерминации. Альтернатива - хотя бы один из коэффициентов не равен нулю

In [51]:
alpha = 0.05
n = 304
k = 3
R2 = model.score(x, y)
R2

0.8653846453791171

Проведем F-статистику для модели. Зная, что $\frac{ESS}{TSS} = R^2$, а $\frac{RSS}{TSS} = 1 - R^2$

In [52]:
F_model = (R2)*(n-k)/((1 - R2)*(k-1))
F = f.ppf (1 - alpha, k-1, n-k)
F_model, F

(967.5002491086769, 3.0257464103335736)

Мы наблюдаем, что $F_{model} > F$, следовательно нулевая гипотеза отвергается