# Домашнее задание 5

In [3]:
import numpy as np
import pandas as pd
import sklearn.linear_model as slmodel
import matplotlib.pyplot as plt
import statsmodels.api as sm
from scipy.stats import f
from scipy import stats

In [4]:
table = pd.read_excel('RPL.xlsx', 'Лист1')
table.head()

,Место,Клуб,Матчи,Победы,Ничьи,Поражения,Забито,Пропущено,Разница,Очки
0,1,Спартак,30,16,10,4,51,30,21,58
1,2,Локомотив,30,16,9,5,53,22,31,57
2,3,Зенит,30,15,9,6,50,34,16,54
3,4,Торпедо,30,15,7,8,51,40,11,52
4,5,Крылья Советов,30,14,8,8,38,22,16,50

In [26]:
x = table[['Забито', 'Пропущено']].values

In [ ]:
from statsmodels.regression.linear_model import OLS
def vif(X):
    exog = X - np.nanmean(X, 0); variables = np.arange(exog.shape[1])
    vifs = np.r_[[OLS(exog[:, i], exog[:, variables != i]).fit().rsquared for i in variables]]
    return 1/(1.-vifs)

In [27]:
vif(x)

array([1.13059412, 1.13059412])

Поскольку факторы инфляции дисперсии меньше 5, то у нас нет мультиколлениарности

In [31]:
#Приведем пример мультиколлинеарности
x1 = table[['Забито', 'Пропущено', 'Разница']].values
vif(x1)

c:\users\aleksey\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:5: RuntimeWarning: divide by zero encountered in true_divide
  """

array([inf, inf, inf])