In [4]:
import numpy as np
import pandas as pd
import sklearn.linear_model as slmodel
import matplotlib.pyplot as plt
import statsmodels.api as sm
from scipy.stats import f
from scipy import stats

In [5]:
table = pd.read_excel('RPL.xlsx', 'Лист1')
table.head()

   Место            Клуб  Матчи  Победы  ...  Забито  Пропущено  Разница  Очки
0      1         Спартак     30      16  ...      51         30       21    58
1      2       Локомотив     30      16  ...      53         22       31    57
2      3           Зенит     30      15  ...      50         34       16    54
3      4         Торпедо     30      15  ...      51         40       11    52
4      5  Крылья Советов     30      14  ...      38         22       16    50

[5 rows x 10 columns]

In [6]:
x = table[['Забито', 'Пропущено']].values
y = table.loc[:,'Очки'].values

In [7]:
model = slmodel.LinearRegression()
model.fit(x, y)
model.intercept_, model.coef_

(24.24550869862535, array([ 0.88421478, -0.40794739]))

In [10]:
table['Ошибки'] = y - model.coef_[0]*table['Забито'] - model.coef_[1]*table['Пропущено'] - model.intercept_

In [14]:
table['Забито2'] = table['Забито']**2
table['Пропущено2'] = table['Пропущено']**2
table['ЗабитоПропущено'] = table['Пропущено']*table['Забито']
table['Ошибки2'] = table['Ошибки']**2
table

     Место            Клуб  Матчи  ...  Пропущено2  ЗабитоПропущено     Ошибки2
0        1         Спартак     30  ...         900             1530    0.806331
1        2       Локомотив     30  ...         484             1166   26.358463
2        3           Зенит     30  ...        1156             1700    0.343439
3        4         Торпедо     30  ...        1600             2040    1.045643
4        5  Крылья Советов     30  ...         484              836    1.275030
..     ...             ...    ...  ...         ...              ...         ...
299     12            Сочи     30  ...        1521             1560  114.578861
300     13  Крылья Советов     30  ...        1600             1320   37.291794
301     14          Тамбов     30  ...        1681             1517   85.296537
302     15           Ахмат     30  ...        2116             1242    2.710213
303     16        Оренбург     30  ...        2704             1456    0.624508

[304 rows x 15 columns]

In [21]:
x_error = table[['Забито', 'Пропущено', 'Забито2', 'Пропущено2', 'ЗабитоПропущено']]
y_error = table.loc[:,'Ошибки2']
model_error = slmodel.LinearRegression()
model_error.fit(x_error, y_error)
model_error.intercept_, model_error.coef_, model_error.score(x_error, y_error)

(192.32720720948595,
 array([-2.34351841e+00, -8.63144402e+00,  3.60522554e-03,  8.71583836e-02,
         7.84125863e-02]),
 0.1785477029227749)

In [22]:
t_white = 304*model_error.score(x_error, y_error)
t_white

54.27850168852356

У нас критическое значение хи квдрат есть  χ2(2,0.025)=7,378 < t_white, тем самым отвергаем гипотезу о гомоскедатичности